

@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa+Ink&display=swap');


body {
    font-family: 'Aref Ruqaa Ink', serif;
}

h1 {
    font-size: 60px;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: -1px;
    
    
}

